.container {
  h3 {
    margin: 30px 0;
    text-align: center;
  }

  .citiesContainer {
    margin: 0 10%;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 225px));
    grid-auto-rows: 125px;
    grid-gap: 20px;
  }

  .closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(100% - 35px);
    margin-top: 5px;
    width: 30px;
    height: 30px;
    border: solid 2px #95989A;
    border-radius: 50%;
  }

  .msg {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
  }

  .cityItem {
    border: solid 1px #95989A;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;

    p {
      text-align: center;
      margin: revert;
      cursor: pointer;
    }
  }
}