* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  color: #95989A;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: 75px 1fr;
  min-height: 100vh;
}